 body {
     font-family: 'Courier New', Courier, monospace;
     animation: cambioDeColor 10s infinite;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     padding: 10px;
     box-sizing: border-box;
 }

 .container {
     background-color: #0000007e;
     padding: 20px;
     border-radius: 15px;
     box-shadow: 0 0 10px #2e2e2e;
     text-align: center;
     width: 300px;
 }
 

 .profile {
     margin-bottom: 20px;
 }

 .profile img {
     border-radius: 50%;
     width: 80px;
     height: 80px;
 }

 .profile h2 {
     margin: 10px 0 0 0;
     font-size: 18px;
     color: #FFF;
 }

 .links a {
     display: block;
     background-color: #0000008e;
     color: #FFF;
     text-decoration: none;
     padding: 10px;
     margin: 10px 0;
     border-radius: 5px;
     transition: background-color 0.3s;
 }

 .links a:hover {
     background-color: #000000;
 }

 .footer {
     margin-top: 20px;
     font-size: 12px;
     color: #000;
 }



 @media (max-width: 600px) {
     .profile img {
         width: 60px;
         height: 60px;
     }

     .profile h2 {
         font-size: 16px;
     }

     .links a {
         padding: 8px;
         font-size: 14px;
     }
 }

 html {
     animation-duration: 2s;
     animation-name: slidein;
 }

 @keyframes slidein {
     from {
         margin-left: 100%;
         width: 100%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
 }

 /* Estilos para el fondo que cambia de color */
 @keyframes cambioDeColor {
     0% {
         background-color: #ff0000;
     }

     25% {
         background-color: #20a80e;
     }

     50% {
         background-color: #0099ff;
     }

     75% {
         background-color: #ffff00;
     }

     100% {
         background-color: #ff0000;
     }


 }